@{
    ViewBag.Title = "Admin Paneli";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="row margin">
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Posts")">
                    <i class="fa fa-list fa-3x"></i><br> <small>Gönderiler</small>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Projects")">
                    <i class="fa fa-database fa-3x"></i><br> <small>Projeler</small>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Payments")">
                    <i class="fa fa-credit-card fa-3x"></i><br> <small>Ödemeler</small>
                </a>
            </div>
        </div>
        <br />
        <div class="row margin">
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Categories")">
                    <i class="fa fa-clone fa-3x"></i><br> <small>Kategoriler</small>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Users")">
                    <i class="fa fa-user fa-3x"></i><br> <small>Kullanıcılar</small>
                </a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","UserTypes")">
                    <i class="fa fa-group fa-3x"></i><br> <small>Kullanıcı Tipleri</small>
                </a>
            </div>
        </div>
        <br />
        <div class="row margin">
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Comments")">
                    <i class="fa fa-commenting fa-3x"></i><br> <small>Yorumlar</small>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Logs")">
                    <i class="fa fa-area-chart fa-3x"></i><br> <small>İşlem Kayıtları</small>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index", "ProjectAccesses")">
                    <i class="fa fa-exchange fa-3x"></i><br> <small>Proje Erişimleri</small>
                </a>
            </div>
        </div>
    </div>
</div>

