<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("css", false)
</head>
<body>
    @Html.Partial("Header")
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                @RenderBody()
            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                @Html.Partial("Sidebar")
            </div>
        </div>
        <!-- /.row -->
        <hr>
        @Html.Partial("Footer")
    </div>
    <!-- /.container -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("js", false)
</body>
</html>
