@model IQueryable<Data.Project>
@{
    ViewBag.Title = "Projeler";
}

@if (UserHelper.isMember() == true)
{
    <div class="row alert alert-info">
        <h3 class="col-sm-9" style="margin: 10px 0;">
            Hemen Al ! Kampanyadan yararlan !
        </h3>
        <div class="col-sm-3">
            @Html.ActionLink("Sepetime git", "Index", "Cart", null, new { @class = "btn btn-success btn-lg" })
        </div>
    </div>

}

<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Adı</th>
            <th>Detayı</th>
            <th>Fiyatı</th>
            <th colspan="2" class="text-center">İşlem</th>
        </tr>
    </thead>
    @foreach (var project in Model)
    {
        <tr>
            <td>@project.Id</td>
            <td>@project.Title</td>
            <td>@Html.Raw(project.Text)</td>
            <td>@project.Price TL</td>
            <td>
                @if (UserHelper.isMember() == true)
                {
                    if (project.ProjectAccess.FirstOrDefault(q => q.UserId == UserHelper.Current().Id) == null)
                    {
                        @Html.ActionLink("Hızlı Satın Al", "Index", "Credit", new { id = project.Id }, null)
                    }
                    else
                    {
                        @Html.ActionLink("İndir", "Download", "Projects", new { id = project.Id }, null)

                    }
                }
                else
                {
                    @Html.ActionLink("İndirmek için giriş yap", "LoginForm", "User")
                }
            </td>
            @{
                string statusAdd = String.Empty;
                string statusRemove = "hide";

                if (UserHelper.isMember() == true)
                {
                    if (project.Cart.FirstOrDefault(q =>
                            q.Status == Data.CartStatus.New &&
                            q.UserId == UserHelper.Current().Id &&
                            q.ProjectId == project.Id) != null
                        )
                    {
                        statusAdd = "hide";
                        statusRemove = String.Empty;
                    }
                    else if (project.ProjectAccess.FirstOrDefault(q => q.UserId == UserHelper.Current().Id) != null)
                    {
                        statusAdd = "hide";
                        statusRemove = "hide";
                        <td></td>
                    }
                }

                <td id="tdAdd@(project.Id)" class="@statusAdd">
                    @Ajax.ActionLink("Sepete Ekle", "AddToCart", new { @id = project.Id },
                        new AjaxOptions { HttpMethod = "POST", OnSuccess = "ToggleCartButtons" })
                </td>

                <td id="tdRemove@(project.Id)" class="@statusRemove">
                    @Ajax.ActionLink("Çıkar", "RemoveFromCart", new { @id = project.Id },
                  new AjaxOptions { HttpMethod = "POST", OnSuccess = "ToggleCartButtons" })
                </td>

            }
        </tr>
    }
</table>

@section js{
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        function ToggleCartButtons(result) {
            if (result == "login") {
                alert("Sepete eklemek için giriş yapınız");
            } else {
                $("#tdAdd" + result).toggleClass("hide");
                $("#tdRemove" + result).toggleClass("hide");
            }
        }
    </script>
}
