@model IQueryable<Data.Project>
@{
    ViewBag.Title = "Index";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Adı</th>
            <th>Detayı</th>
            <th>Dosyası</th>
            <th>Fiyatı</th>
        </tr>
    </thead>
@foreach (var project in Model)
{
        <tr>
            <td>@project.Id</td>
            <td>@project.Title</td>
            <td>@Html.Raw(project.Text)</td>
            <td>@Html.ActionLink("Satın Al", "Index", "Credit", null, new { id = project.Id })</td>
            <td>@project.Price</td>
        </tr>
}

</table>
